# Arithmetic on a DataFrame

Almost all arithmetic is done using numpy arrays and numpy matrices. They are easier to understand and better supported in numpy.

The rules for arithmetic with *DataFrame* are similar.

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame([(1, 2, 3, 4, 5), (10, 20, 30, 40, 50), (100, 200, 300, 400, 500)])
df

In [ ]:
df / 5

* For a scalar value, the value is applied to each element of the DataFrame 
* This is true for `+`, `-`, `*`, `/`, and `**`

In [ ]:
df + 1

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5])
s1

In [ ]:
df / s1

* The Series, *s*, is applied to each row of the DataFrame, *df*, which the element of the row and the Series matched
* This is true for `+`, `-`, `*`, `/`, and `**`
* The expression is not communtative

In [ ]:
s2 = pd.Series([2, 3, 4], index=[0, 2, 4])
s2

In [ ]:
df / s2

* Matching is done by index
* Missing values can be set to a fixed value using `fill_value=<float>`

In [ ]:
s3 = pd.Series([2, 3, 4])
s3

In [ ]:
df.div(s3, axis = 0)

In [ ]:
df2 = pd.DataFrame([(2, 2, 2, 2, 2), (5, 5, 5, 5, 5), (4, 4, 4, 4, 4)])
df2

In [ ]:
df / df2

* The 2 *DataFrame*s must have the same shape
* Arithmetic is performed cell-wise

In [ ]:
df.dot(s1)

* The result is a single *Series* with one element for each row in the *DataFrame*
* The process
  - For each row, the corresponding elements of the *Series* are multiplied together. 
  - Then all the elements of the row are summed and placed as the corresponding element of the result *Series*

In [ ]:
df.columns = ['first', 'second', 'third', 'fourth', 'fifth']
df

In [ ]:
s4 = df['fifth'] / df['second']
s4

* We can also do arithmetic with *Series*
  - Remember that any column of a *DataFrame* is a *Series*

In [ ]:
df['5th / 2nd'] = s4
df

# End of Notebook