# Table-like Operations on *DataFrame*

We can treat a *DataFrame* like a table, for example a database table, and perform similar operations to those in SQL.

In [ ]:
import numpy as np
import pandas as pd

## Counting Unique Values

In [ ]:
df = pd.DataFrame([10, 10, 11, 11, 11, 12, 12, 12, 13, 13, 13, 13, 14], columns=['Age'])
print(df['Age'].value_counts())

In [ ]:
df = pd.DataFrame([('Male', 10), ('Female', 10), ('Female', 11), ('Male', 11), ('Female', 11), \
                   ('Female', 12), ('Male', 12), ('Male', 12), ('Female', 13), ('Female', 13), \
                   ('Male', 13), ('Female', 13), ('Male', 14)], columns=['Gender', 'Age'])
print(df.value_counts())

## Group By Aggregation

In [ ]:
df.groupby('Gender').count()

In [ ]:
df.groupby('Gender').max() # also, for example, min()

In [ ]:
df.groupby('Gender').sum() # also, for example, mean(), std()

In [ ]:
df = pd.DataFrame([('John', 1000, 2), ('Jane', 1050, 2), ('Samantha', 1000, 3), ('Samuel', 1100, 1), \
                   ('Alexander', 1010, 3), ('Alexandra', 1030, 2), ('Beatrice', 1029, 1)], \
                  columns=['Name', 'Salary', 'Dept'])
df

In [ ]:
df.groupby('Dept').sum(numeric_only=True)

In [ ]:
df.groupby('Dept')['Salary'].sum()

## Concatenate Data

In [ ]:
df1 = pd.DataFrame([('Male', 10),('Male', 11), ('Female', 11), ('Female', 12), ('Female', 12)], columns=['Gender', 'Age'])
df2 = pd.DataFrame([('Male', 20),('Male', 21), ('Female', 21), ('Female', 22)], columns=['Gender', 'Age'])
df = pd.concat([df1, df2])
df

In [ ]:
df3 = pd.DataFrame([('John', 'Smith'), ('Fred', 'Perry'), ('Jane', 'Doe'), ('Emmeline', 'Pankhurst')], columns=['First', 'Last'])
df = pd.concat([df1, df3], axis = 1)
df

In [ ]:
df4 = pd.DataFrame([('Male', 'James', 'Bond')], columns=['Gender', 'First', 'Last'])
df5 = pd.concat([df, df4])
df5

## Merge or Join DataFrames

In [ ]:
person_data = {
        'id': ['1', '2', '3', '4', '5', '6'],
        'first_name': ['Elon', 'Emmeline', 'Fred', 'Charles', 'Alice', 'James'], 
        'last_name': ['Musk', 'Pankhurst', 'Perry', 'Dickens', 'Liddell', 'Bond']}
df1 = pd.DataFrame(person_data, columns = ['id', 'first_name', 'last_name'])

fame_data = {
    'id' : ['1', '1', '1', '2', '3', '3', '5'],
    'known_for' : ['Maverick Billionaire', 'Tesla', 'SpaceX', 'Protesting', 'Tennis', 'Clothing', 'Wonderland']
}
df2 = pd.DataFrame(fame_data, columns = ['id', 'known_for'])
pd.merge(df1, df2, on='id')

In [ ]:
pd.merge(df1, df2, how='left')

## Null Values

In [ ]:
pd.merge(df1, df2, how='left').isna()

In [ ]:
pd.merge(df1, df2, how='left').fillna('unknown')

In [ ]:
pd.merge(df1, df2, how='left').dropna()

# End of notebook